body {
  background-color: #fafafa;
}

.container {
  margin-top: 2%;
}

.list-group, .tab-pane {
  max-height: 80vh;
  margin-bottom: 5vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.tab-pane::-webkit-scrollbar, .list-group::-webkit-scrollbar {
  width: 4px;
}

.tab-pane::-webkit-scrollbar-track, .list-group::-webkit-scrollbar-track {
  background-color: #eee;
}

.tab-pane::-webkit-scrollbar-thumb, .list-group::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: black;
}

.depend {
  font-weight: bold;
}

.left-arrow {
  height: 0.6em;
  width: 0.6em;
  margin-right: 5px;
}

.back-to-list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  a, p {
    font-size: 3vw;
  }

  h1, h2 {
    font-size: 6vw;
  }

  pre {
    font-size: 1.6vw;
  }
}
