<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Packages</title>
  <script type="text/javascript" src="/static/jquery/jquery-3.4.1.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body onload="onLoad();">

  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1>Packages ({{names|count}})</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          {% for name in names %}
          <a class="list-group-item list-group-item-action" href="#" id="list-home-list" onclick="submitRequest(this.text)" data-toggle="list" role="tab" aria-controls="{{name}}">{{name}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            <h2 id="package_name"></h2>
            <pre id="packageDesc"></pre>
            <div class="depend-list">
            </div>
            <br>
            <div class="inv-depend-list">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  function submitRequest(a) {
    let entry = {
      name: a
    };

    fetch(window.origin + "/return-package", {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(entry),
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      })
      .then(function(response) {
        if (response.status !== 200) {
          console.log("Error happened: ${response.status}");
          return;
        }
        response.json().then(function(data) {
          $('#package_name').text(data['package']['name']);
          $('#packageDesc').text(data['package']['description']);
          list_dependencies(data['package']['dependencies']);
          list_inv_dependencies(data['package']['inv_dependencies']);
        });
      })
      .catch(function(error) {
        console.log("Fetch error: " + error);
      });
  }

  function list_dependencies(dependencies) {
    let dependency_list = $('.depend-list')
    dependency_list.empty()
    if (dependencies) {
      dependency_list.append('<p class="depend">Dependencies:</p>');
      dependencies.forEach(element => dependency_list.append('<a href="#" type="link" onclick="submitRequest(this.text)">' + element + ' </a>'));
    }
  }

  function list_inv_dependencies(inv_dependencies) {
    let inv_dependency_list = $('.inv-depend-list')
    inv_dependency_list.empty()
    if (inv_dependencies) {
      inv_dependency_list.append('<p class="depend">Inverse dependencies:</p>');
      inv_dependencies.forEach(element => inv_dependency_list.append('<a href="#" type="link" onclick="submitRequest(this.text)">' + element + ' </a>'));
    }
  }

  function onLoad() {
  //  if (screen.width <= 699) {
  //    document.location = "mobile";
  //  }
  //  else {submitRequest("{{names[0]}}");}
  submitRequest("{{names[0]}}");
  }
</script>

</html>
