<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>package</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
    integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>{{package['name']}}</h1>
    <br>
    <p>{{package['description']}}</p>
    <br>
    {% if package['dependencies'] %}
      {% for d in package['dependencies'] %}
        <a href="/{{d}}">{{d}}</a>
      {% endfor %}
    {% endif %}
    <br>
    {% if package['inv_dependencies'] %}
      {% for i in package['inv_dependencies'] %}
        <a href="/{{i}}">{{i}}</a>
      {% endfor %}
    {% endif %}
  </body>
</html>
